%h1 Listing results

%table
  %thead
    %tr
      %th Usn
      %th Department
      %th Branch
      %th Sem
      %th Year
      %th
      %th
      %th

  %tbody
    - @results.each do |result|
      %tr
        %td= result.usn
        %td= result.department
        %td= result.branch
        %td= result.sem
        %td= result.year
        %td= link_to 'Show', result
        %td= link_to 'Edit', edit_result_path(result)
        %td= link_to 'Destroy', result, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Result', new_result_path
